body {
    background: #e7eef2;
    font-family: 'Open Sans', sans-serif;
    color: #57676e;
    margin: 0 auto;
    max-width: 960px;
    word-wrap: break-word;
}

a {
    text-decoration: none;
}

nav ul {
    width: 100%;
    float: left;
    list-style: none;
    overflow: hidden;
}

nav ul li {
    display: flex;
    float: left;
    width: 30%;
}

nav ul li a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 8px 0;
    color: #1c2c34;
}

footer {
    bottom:0;
    text-align: center;
}

footer i {
    padding-right: .32em;
    padding-left: .32em;
    color: #57676e;
}

.picMe {
    height: 400px;
    width: 266px;
    float:left;
    padding-right: 1em;
    padding-bottom: 1em;
}

.footer {
    position:absolute;
    height:50px;
    bottom:0;
    left:0px;
    right:0px;
    margin-bottom:0px;
    
}

.icons i {
   display: grid;    
   text-align: center;
   padding-right: .32em;
   padding-left: .32em;
   color: #57676e;
}